postman/schemas/schema.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://AutodeskDM/Filestore/Auth/1/7/2020/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="AuthService" targetNamespace="http://AutodeskDM/Filestore/Auth/1/7/2020/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://AutodeskDM/Filestore/Auth/1/7/2020/Imports">
            <xsd:import schemaLocation="http://{{Server}}/AutodeskDM/Services/Filestore/v26/AuthService.svc?xsd=xsd0" namespace="http://AutodeskDM/Filestore/Auth/1/7/2020/"/>
            <xsd:import schemaLocation="http://{{Server}}/AutodeskDM/Services/Filestore/v26/AuthService.svc?xsd=xsd1" namespace="http://AutodeskDM/Services"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="AuthService_SignIn_InputMessage">
        <wsdl:part name="parameters" element="tns:SignIn"/>
    </wsdl:message>
    <wsdl:message name="AuthService_SignIn_InputMessage_Headers">
        <wsdl:part xmlns:q1="http://AutodeskDM/Services" name="SecurityHeader" element="q1:SecurityHeader"/>
    </wsdl:message>
    <wsdl:message name="AuthService_SignIn_OutputMessage">
        <wsdl:part name="parameters" element="tns:SignInResponse"/>
    </wsdl:message>
    <wsdl:message name="AuthService_SignIn_OutputMessage_Headers">
        <wsdl:part xmlns:q2="http://AutodeskDM/Services" name="SecurityHeader" element="q2:SecurityHeader"/>
    </wsdl:message>
    <wsdl:message name="AuthService_SignInGetLicense_InputMessage">
        <wsdl:part name="parameters" element="tns:SignInGetLicense"/>
    </wsdl:message>
    <wsdl:message name="AuthService_SignInGetLicense_InputMessage_Headers">
        <wsdl:part xmlns:q3="http://AutodeskDM/Services" name="SecurityHeader" element="q3:SecurityHeader"/>
    </wsdl:message>
    <wsdl:message name="AuthService_SignInGetLicense_OutputMessage">
        <wsdl:part name="parameters" element="tns:SignInGetLicenseResponse"/>
    </wsdl:message>
    <wsdl:message name="AuthService_SignInGetLicense_OutputMessage_Headers">
        <wsdl:part xmlns:q4="http://AutodeskDM/Services" name="SecurityHeader" element="q4:SecurityHeader"/>
    </wsdl:message>
    <wsdl:message name="AuthService_SignInAltLicense_InputMessage">
        <wsdl:part name="parameters" element="tns:SignInAltLicense"/>
    </wsdl:message>
    <wsdl:message name="AuthService_SignInAltLicense_InputMessage_Headers">
        <wsdl:part xmlns:q5="http://AutodeskDM/Services" name="SecurityHeader" element="q5:SecurityHeader"/>
    </wsdl:message>
    <wsdl:message name="AuthService_SignInAltLicense_OutputMessage">
        <wsdl:part name="parameters" element="tns:SignInAltLicenseResponse"/>
    </wsdl:message>
    <wsdl:message name="AuthService_SignInAltLicense_OutputMessage_Headers">
        <wsdl:part xmlns:q6="http://AutodeskDM/Services" name="SecurityHeader" element="q6:SecurityHeader"/>
    </wsdl:message>
    <wsdl:message name="AuthService_SignInReadOnly_InputMessage">
        <wsdl:part name="parameters" element="tns:SignInReadOnly"/>
    </wsdl:message>
    <wsdl:message name="AuthService_SignInReadOnly_InputMessage_Headers">
        <wsdl:part xmlns:q7="http://AutodeskDM/Services" name="SecurityHeader" element="q7:SecurityHeader"/>
    </wsdl:message>
    <wsdl:message name="AuthService_SignInReadOnly_OutputMessage">
        <wsdl:part name="parameters" element="tns:SignInReadOnlyResponse"/>
    </wsdl:message>
    <wsdl:message name="AuthService_SignInReadOnly_OutputMessage_Headers">
        <wsdl:part xmlns:q8="http://AutodeskDM/Services" name="SecurityHeader" element="q8:SecurityHeader"/>
    </wsdl:message>
    <wsdl:message name="AuthService_SignIn2_InputMessage">
        <wsdl:part name="parameters" element="tns:SignIn2"/>
    </wsdl:message>
    <wsdl:message name="AuthService_SignIn2_InputMessage_Headers">
        <wsdl:part xmlns:q9="http://AutodeskDM/Services" name="SecurityHeader" element="q9:SecurityHeader"/>
    </wsdl:message>
    <wsdl:message name="AuthService_SignIn2_OutputMessage">
        <wsdl:part name="parameters" element="tns:SignIn2Response"/>
    </wsdl:message>
    <wsdl:message name="AuthService_SignIn2_OutputMessage_Headers">
        <wsdl:part xmlns:q10="http://AutodeskDM/Services" name="SecurityHeader" element="q10:SecurityHeader"/>
    </wsdl:message>
    <wsdl:message name="AuthService_SignOut_InputMessage">
        <wsdl:part name="parameters" element="tns:SignOut"/>
    </wsdl:message>
    <wsdl:message name="AuthService_SignOut_InputMessage_Headers">
        <wsdl:part xmlns:q11="http://AutodeskDM/Services" name="SecurityHeader" element="q11:SecurityHeader"/>
    </wsdl:message>
    <wsdl:message name="AuthService_SignOut_OutputMessage">
        <wsdl:part name="parameters" element="tns:SignOutResponse"/>
    </wsdl:message>
    <wsdl:message name="AuthService_SignOut_OutputMessage_Headers">
        <wsdl:part xmlns:q12="http://AutodeskDM/Services" name="SecurityHeader" element="q12:SecurityHeader"/>
    </wsdl:message>
    <wsdl:portType name="AuthService">
        <wsdl:operation name="SignIn">
            <wsdl:input wsaw:Action="http://AutodeskDM/Filestore/Auth/1/7/2020/AuthService/SignIn" message="tns:AuthService_SignIn_InputMessage"/>
            <wsdl:output wsaw:Action="http://AutodeskDM/Filestore/Auth/1/7/2020/AuthService/SignInResponse" message="tns:AuthService_SignIn_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="SignInGetLicense">
            <wsdl:input wsaw:Action="http://AutodeskDM/Filestore/Auth/1/7/2020/AuthService/SignInGetLicense" message="tns:AuthService_SignInGetLicense_InputMessage"/>
            <wsdl:output wsaw:Action="http://AutodeskDM/Filestore/Auth/1/7/2020/AuthService/SignInGetLicenseResponse" message="tns:AuthService_SignInGetLicense_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="SignInAltLicense">
            <wsdl:input wsaw:Action="http://AutodeskDM/Filestore/Auth/1/7/2020/AuthService/SignInAltLicense" message="tns:AuthService_SignInAltLicense_InputMessage"/>
            <wsdl:output wsaw:Action="http://AutodeskDM/Filestore/Auth/1/7/2020/AuthService/SignInAltLicenseResponse" message="tns:AuthService_SignInAltLicense_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="SignInReadOnly">
            <wsdl:input wsaw:Action="http://AutodeskDM/Filestore/Auth/1/7/2020/AuthService/SignInReadOnly" message="tns:AuthService_SignInReadOnly_InputMessage"/>
            <wsdl:output wsaw:Action="http://AutodeskDM/Filestore/Auth/1/7/2020/AuthService/SignInReadOnlyResponse" message="tns:AuthService_SignInReadOnly_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="SignIn2">
            <wsdl:input wsaw:Action="http://AutodeskDM/Filestore/Auth/1/7/2020/AuthService/SignIn2" message="tns:AuthService_SignIn2_InputMessage"/>
            <wsdl:output wsaw:Action="http://AutodeskDM/Filestore/Auth/1/7/2020/AuthService/SignIn2Response" message="tns:AuthService_SignIn2_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="SignOut">
            <wsdl:input wsaw:Action="http://AutodeskDM/Filestore/Auth/1/7/2020/AuthService/SignOut" message="tns:AuthService_SignOut_InputMessage"/>
            <wsdl:output wsaw:Action="http://AutodeskDM/Filestore/Auth/1/7/2020/AuthService/SignOutResponse" message="tns:AuthService_SignOut_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AuthServiceSoap" type="tns:AuthService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SignIn">
            <soap:operation soapAction="http://AutodeskDM/Filestore/Auth/1/7/2020/AuthService/SignIn" style="document"/>
            <wsdl:input>
                <soap:header message="tns:AuthService_SignIn_InputMessage_Headers" part="SecurityHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:AuthService_SignIn_OutputMessage_Headers" part="SecurityHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SignInGetLicense">
            <soap:operation soapAction="http://AutodeskDM/Filestore/Auth/1/7/2020/AuthService/SignInGetLicense" style="document"/>
            <wsdl:input>
                <soap:header message="tns:AuthService_SignInGetLicense_InputMessage_Headers" part="SecurityHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:AuthService_SignInGetLicense_OutputMessage_Headers" part="SecurityHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SignInAltLicense">
            <soap:operation soapAction="http://AutodeskDM/Filestore/Auth/1/7/2020/AuthService/SignInAltLicense" style="document"/>
            <wsdl:input>
                <soap:header message="tns:AuthService_SignInAltLicense_InputMessage_Headers" part="SecurityHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:AuthService_SignInAltLicense_OutputMessage_Headers" part="SecurityHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SignInReadOnly">
            <soap:operation soapAction="http://AutodeskDM/Filestore/Auth/1/7/2020/AuthService/SignInReadOnly" style="document"/>
            <wsdl:input>
                <soap:header message="tns:AuthService_SignInReadOnly_InputMessage_Headers" part="SecurityHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:AuthService_SignInReadOnly_OutputMessage_Headers" part="SecurityHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SignIn2">
            <soap:operation soapAction="http://AutodeskDM/Filestore/Auth/1/7/2020/AuthService/SignIn2" style="document"/>
            <wsdl:input>
                <soap:header message="tns:AuthService_SignIn2_InputMessage_Headers" part="SecurityHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:AuthService_SignIn2_OutputMessage_Headers" part="SecurityHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SignOut">
            <soap:operation soapAction="http://AutodeskDM/Filestore/Auth/1/7/2020/AuthService/SignOut" style="document"/>
            <wsdl:input>
                <soap:header message="tns:AuthService_SignOut_InputMessage_Headers" part="SecurityHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:AuthService_SignOut_OutputMessage_Headers" part="SecurityHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AuthService">
        <wsdl:port name="AuthServiceSoap" binding="tns:AuthServiceSoap">
            <soap:address location="http://{{Server}}/AutodeskDM/Services/Filestore/v26/AuthService.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>